<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Home</title>

    <style>
        .dropdown-submenu {
            position: relative;
        }

        .dropdown-submenu>.dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -6px;
            margin-left: -1px;
            -webkit-border-radius: 0 6px 6px 6px;
            -moz-border-radius: 0 6px 6px;
            border-radius: 0 6px 6px 6px;
        }

        .dropdown-submenu:hover>.dropdown-menu {
            display: block;
        }

        .dropdown-submenu>a:after {
            display: block;
            content: " ";
            float: right;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            border-left-color: #ccc;
            margin-top: 5px;
            margin-right: -10px;
        }

        .dropdown-submenu:hover>a:after {
            border-left-color: #fff;
        }

        .dropdown-submenu.pull-left {
            float: none;
        }

        .dropdown-submenu.pull-left>.dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }
    </style>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'tiles_website:home' %}">Company name</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'tiles_website:about_us_page' %}">About us <span
                            class="sr-only">(current)</span></a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tiles_website:contact_us_page' %}">Dashboard</a>
                </li>
                {% endif %}


                <li class="nav-item dropdown">
                    <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tiles
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                         Default dropright button -->
                    <!--  <div class="btn-group dropright">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropright
                            </button>
                            <div class="dropdown-menu">
                             Dropdown menu links 
                            </div>
                        </div>
                        
                    </div> -->

                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenu1"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tiles
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" tabindex="-1" href="#">Floor</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a tabindex="-1" href="#">pattern1</a></li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item" href="#">pattern2</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-item"><a href="#">smooth</a></li>
                                            <li class="dropdown-item"><a class="" href="#">matte</a>

                                            </li>
                                            <li class="dropdown-item"><a href="#">rough</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-item"><a href="#">pattern3</a></li>
                                    <li class="dropdown-item"><a href="#">pattern4</a></li>
                                </ul>

                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" tabindex="-1" href="#">Walls</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a tabindex="-1" href="#">pattern1</a></li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item" href="#">pattern2</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-item"><a href="#">smooth</a></li>
                                            <li class="dropdown-item"><a class="" href="#">matte</a>

                                            </li>
                                            <li class="dropdown-item"><a href="#">rough</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-item"><a href="#">pattern3</a></li>
                                    <li class="dropdown-item"><a href="#">pattern4</a></li>
                                </ul>


                            </li>

                            <li class="dropdown-submenu">
                                <a class="dropdown-item" tabindex="-1" href="#">kitchen</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a tabindex="-1" href="#">pattern1</a></li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item" href="#">pattern2</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-item"><a href="#">smooth</a></li>
                                            <li class="dropdown-item"><a class="" href="#">matte</a>

                                            </li>
                                            <li class="dropdown-item"><a href="#">rough</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-item"><a href="#">pattern3</a></li>
                                    <li class="dropdown-item"><a href="#">pattern4</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>


                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tiles_website:contact_us_page' %}">Contact us</a>
                </li>


            </ul>
            <ul class="navbar-nav my-lg-0">
                {% if user.is_authenticated %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin profile
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'tiles_website:admin_dashboard_page' %}">Dashboard</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'tiles_website:logout_url' %}">Logout</a>
                    </div>
                </li>

                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tiles_website:login_page' %}">Admin login</a>
                </li>

                {% endif %}

            </ul>

            {% comment %}

            <a class="nav-link" href="#">Admin Login</a>
            </li>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> {% endcomment %}
        </div>
    </nav>
    {% block content %}

    <div class="container-fluid">

        <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-interval="5000"
            data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{home_images.Image1.url}}" class="d-block w-100" alt="..." height="500px">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Original Ceramic Tiles</h5>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{home_images.Image2.url}}" class="d-block w-100" alt="..." height="500px">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>
                            <Table>Tiles that suits best for your place</Table>
                        </h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{home_images.Image3.url}}" class="d-block w-100" alt="..." height="500px">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>A range of tiles</h5>
                        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>


    <div class="container p-4">
        <div class="d-flex justify-content-between p-4">
            <p class="lead"><strong>Marble</strong></p>
            <a class="" href="{% url 'tiles_website:product_page' %}">see more</a>
        </div>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">

                <div class="carousel-item active">

                    <div class="card-group">
                        {% for category in category1 %}
                        {% if forloop.counter < 5 %}
                        <div class="card" style="width: 18rem;">
                            <a href="#"> <img src="{{category.tile_image.url}}" class="card-img-top" alt="..."></a>
                            <div class="card-body">
                                <p class="card-text">{{category.tile_name}}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}

                    </div>
                </div>


                <div class="carousel-item">
                    <div class="card-group">
                        {% for category in category1 %}
                        {% if forloop.counter < 9 and forloop.counter > 4 %}

                        <div class="card" style="width: 18rem;">
                            <a href="#"> <img src="{{category.tile_image.url}}" class="card-img-top" alt="..."></a>
                            <div class="card-body">
                                <p class="card-text">{{category.tile_name}}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}

                    </div>

                </div>

            </div>
            <a class="carousel-control-prev text-dark" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon " aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid p-4">
        <div class="container">
            <h1 class="display-4">A fresh look</h1>
            <p class="lead">Make your walls and floor look stunning and homely with our awesome range of tiles </p>
        </div>
    </div>

    <div class="container p-4">
        <div class="d-flex justify-content-between p-4">
            <p class="lead"><strong>Wood</strong></p>
            <a class="" href="{% url 'tiles_website:product_page' %}">see more</a>
        </div>
        <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">

                <div class="carousel-item active">

                    <div class="card-group">
                        {% for category in category2 %}
                        {% if forloop.counter < 5 %}
                        <div class="card" style="width: 18rem;">
                            <a href="#"> <img src="{{category.tile_image.url}}" class="card-img-top" alt="..."></a>
                            <div class="card-body">
                                <p class="card-text">{{category.tile_name}}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}

                    </div>
                </div>
{% if category2.count > 4 %}

                <div class="carousel-item">
                    <div class="card-group">
                        {% for category in category2 %}
                        {% if forloop.counter < 9 and forloop.counter > 4 %}

                        <div class="card" style="width: 18rem;">
                            <a href="#"> <img src="{{category.tile_image.url}}" class="card-img-top" alt="..."></a>
                            <div class="card-body">
                                <p class="card-text">{{category.tile_name}}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}

                    </div>

                </div>
{% endif %}
            </div>
        <a class="carousel-control-prev text-dark" href="#carouselExampleControls1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon " aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
   
    {% endblock  %}
    <footer class="container py-5">
        <div class="row">
            <div class="col-12 col-md">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="d-block mb-2">
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
                    <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
                    <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
                    <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
                    <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
                    <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
                </svg>
                <small class="d-block mb-3 text-muted">© 2017-2018</small>
            </div>
            <div class="col-6 col-md">
                <h5>Tiles categories</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Cool stuff</a></li>
                    <li><a class="text-muted" href="#">Random feature</a></li>
                    <li><a class="text-muted" href="#">Team feature</a></li>
                    <li><a class="text-muted" href="#">Stuff for developers</a></li>
                    <li><a class="text-muted" href="#">Another one</a></li>
                    <li><a class="text-muted" href="#">Last time</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Brands</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Resource</a></li>
                    <li><a class="text-muted" href="#">Resource name</a></li>
                    <li><a class="text-muted" href="#">Another resource</a></li>
                    <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Contact Us</a></li>
                    <li><a class="text-muted" href="#">Locations</a></li>
                    <li><a class="text-muted" href="#">Privacy</a></li>
                    <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>